<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label>ชื่อผู้ใช้งาน:</label>
      <input type="text" formControlName="username" />
    </div>
    <div>
      <label>รหัสผ่าน:</label>
      <input type="password" formControlName="password" />
    </div>
    <div *ngIf="errorMessage">
      <p style="color:red;">{{ errorMessage }}</p>
    </div>
    <button type="submit">เข้าสู่ระบบ</button>
  </form>

  <p>
    หากยังไม่มีบัญชี?
    <a routerLink="/register">ลงทะเบียน</a>
  </p>
  